.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 225px;
  color: var(--font-color);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  color: var(--primary-color);
  padding-bottom: 10px;
}

.cart-header h3 {
  margin: 0;
}

.cart-header img {
  width: 20px;
}

.cart-button {
  grid-column: 1/3;
  justify-self: center;
}

.cart-value-column {
  text-align: end;
  color: var(--price-color);
}
.cart-grid-info {
  display: grid;
  justify-content: space-between;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  color: var(--product-name-color);
  font-weight: 500;
}

.cart-grid-info-container {
  width: 100%;
  margin-top: 50px;
}

.cart-shipping {
  color: var(--confirmation-color);
  font-weight: bold;
}

.cart-items-count {
  position: relative;
}

.cart-items-count .cart-counter {
  position: absolute;
  bottom: 100%;
  z-index: 1;
  color: white;
  background: var(--primary-color);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  left: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 15px;
}
