:root {
  --font-color: #d0d2d7;
  --primary-color: #33c5f3;
  --product-name-color: #7e8292;
  --border-color: #0000001a;
  --confirmation-color: #00c690;
  --error-color: #eb5224;
  --price-color: #2a314b;
}

span.react-numeric-input {
  width: 100% !important;
  max-width: 120px !important;
}

span.react-numeric-input b {
  border: none !important;
  background: none !important;
  color: var(--font-color) !important;
  cursor: pointer !important;
}

span.react-numeric-input input {
  border-radius: 5px;
  border: 1px solid var(--font-color);
  padding: 10px;
  width: 100%;
  color: var(--product-name-color);
  background-color: transparent;
}

span.react-numeric-input input:focus {
  outline: none;
}
